<div class="accountdiv">
    <div class="w3-content">
        <div class="w3-row">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="our-team">
                            <div class="picture">
                            </div>
                            <div class="team-content">
                                <h3 class="name">{{usertechs.username}}</h3>
                                <h4 class="title">{{usertechs.email}}</h4>
                            </div>
                            <div>
                                <img  class= "editprofilebutton" id="editprofile" src="/images/akar-icons_edit.png"></img>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id='user-repos'class="card1">
        <div class="h3-titles">
            <div class="div-titles" style="font-size: 30px; ">Created Posts</div>
        </div>
        {{!-- All  created  --}}
        <fieldset>
           <img class="plusbutton"  id="addtech" src="/images/akar-icons_circle-plus.png" alt="plus" >
        </fieldset>
        {{#each usertechs.teches as |tech|}}
             <div class="card1">
                  <h2  id="techcardtitle" >{{tech.tech_name}}</h2>
                  <h3  id="techcarddescription"> {{tech.description}}</h3>
                  <h3>{{tech.examples}}</h3>
                  <h3  id="techcardlanguage" > Programming language: {{tech.language.language_name}}</h3>
            </div>
        {{/each}}   
    </div>
    <div id="user-add" class="card1" style="margin-bottom: 30px !important;">
    <div class="h3-titles">
        <div class="div-titles" style="font-size: 30px; ">Saved Posts</div>
    </div>
    {{!-- All  saved --}}
        {{#each usertechs.tech as |tech|}}
            <div class="card1 " >
                  <h2  id="techcardtitle" >{{tech.tech_name}}</h2>
                  <h3  id="techcarddescription"> {{tech.description}}</h3>
                  <h3>{{tech.examples}}</h3>
                  <h3  id="techcardlanguage" > Programming language: {{tech.language.language_name}}</h3>
                  <h5 class="card1-head" id="updatetime" >Author:  <solid style="color: rgb(158, 154, 149);">{{tech.user.username}}</solid></h5>
            </div>
        {{/each}} 
    </div>
  <script src="/js/account-page.js"></script>




