        <div class=" techcontainer">   
            {{#each category.teches as |tech|}}
              <div class="card1 user-repos">
                  <div>
                      <img class="savebuttonicon" id="addtech" data-category={{tech.category_id}} data-tech={{tech.id}} data-userId={{tech.user_id}} src="/images/bi_save.png"></img>
                  </div>
                  <h2  id="techcardtitle" >{{tech.tech_name}}</h2>
                  <h3  id="techcarddescription"> {{tech.description}}</h3>
                  <h3>{{tech.examples}}</h3>
                     <img class="lanim" src= {{tech.language.language_image}} alt="N/A" >
                    <a class = "homelink" href={{tech.source}} style="font-size: 15px; color: #39A9DB">Resource Page</a>
                  <h5 class="card1-head" id="username1" >Author:  <solid style="color: rgb(158, 154, 149);">{{tech.user.username}}</solid></h5>
                  
            </div>
            {{/each}}
        </div>
    <script src="/js/tech-save.js"></script>



