    
  {{#each category.teches as |tech|}}
    <div id='user-repos'class="card">
        <div>
            <button class="name noselect addtech" data-category="{{tech.category_id}}" data-tech="{{tech.id}}" data-userId="{{tech.user_id}}">Save</button>
        </div>
        <div class="h3-titles">
            <div class="div-titles" id="techcarduseremail">{{tech.user.username}}</div>
        </div>
        <small class="card-category" id="techcarddate">{{tech.updatedAt}}</small>
        <h3 class="card-heading" id="techcardtitle">{{tech.title}}</h3>
        <p>
        <h3 class="card-heading" id="techcarddescription">Description</h3>
          {{tech.description}}
        </p>
        <p>
        <h3 class="card-heading">Examples</h3>
          {{tech.examples}}

        </p>
        <h3 class="card-heading" id="techcardlanguage">{{tech.language.language_name}}</h3>
    </div>
  {{/each}}
  <script src="/js/tech-save.js"></script>
  


