    <div id='user-repos'class="card">
        <div>
            <button class="name noselect">ADD</button>
            <button class="name noselect">LINK</button>
            <button class="name noselect">LIKE</button>
        </div>
        <div class="h3-titles">
            <div class="div-titles">{{user}}</div>
        </div>
        <small class="card-category">{{date}}</small>
        <h3 class="card-heading">{{title}}</h3>
        <p>
        <h3 class="card-heading">{{description}}</h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nam
          dignissimos veniam!
        </p>
        <p>
        <h3 class="card-heading">{{userCase}}</h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nam
          dignissimos veniam!
        </p>
    </div>